
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        Indentificador
      </th>
      <th>
        Descrição
      </th>
      <th>
        Observacao
      </th>
    </tr>

    <tr *ngFor="let item of Recursos">
      <td>
        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" title="Clique para Editar Recurso" (click)="onEditarRecurso(item)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
        <button class="btn btn-danger btn-sm" (click)="ExcluirRecurso(item)" data-toggle="tooltip" title="Clique para Deletar Recurso">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
      </td>
      <td>
        {{item.recursoID}}
      </td>
      <td>
        {{item.descricao}}
      </td>
      <td>
        {{item.observacao}}
      </td>
    </tr>
  </table>

