<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>
        Recurso
      </th>
      <th>
        Quantidade
      </th>
      <th>
        Usuario
      </th>
    </tr>


    <tr *ngFor="let item of movimento">
      <td>
        {{item.recurso.descricao}}
      </td>
      <td>
        {{item.quantidade}}
      </td>
      <td>
        {{item.usuario.nome}}
      </td>
    </tr>
  </table>