<h3>{{titulo}}</h3>
<hr />
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <strong class="error"></strong>

    <input type="hidden" name="recursoID" id="recursoID" [ngModel]="movimento.MovimentoID"  #recursoID="ngModel" />
    <div class="form-group">
        <label for="form-nome" class="control-label required">Recurso: <abbr title="required">*</abbr></label>
        <select  name="recursoID" id="recursoID" [ngModel]="movimento.recursoID" ngModel required #recursoID="ngModel" class="custom-select">
          <option *ngFor="let item of recursos" [value]="item.recursoID">{{item.descricao}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="form-skype" class="control-label required">Quantidade: <abbr title="required">*</abbr></label>
        <input type="text" name="Quantidade" id="Quantidade" [ngModel]="movimento.Quantidade" ngModel required #Quantidade="ngModel"
        />
    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-default" type="submit">
            Salvar
        </button>
        <button class="btn btn-default" (click)="voltar()">
            Voltar
        </button>
    </div>
</form>
<hr style="border: 0.5px dashed #ccc" />