<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="nav navbar-nav">
          <a routerLink="/home" class="navbar-brand">Controle de recursos</a>
    </div>
    <ul class="nav navbar-nav">
  
      
        <li routerLinkActive="active">
            <a routerLink="/recursos">Recursos</a>
        </li>
        <li  routerLinkActive="active"><a routerLink="/movimentacao">Movimentacao</a></li>
        <li  routerLinkActive="active"><a routerLink="/usuarios">Usuários</a></li>
    </ul>
  </div>
</nav>