<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        Indentificador
      </th>
      <th>
        Recurso
      </th>
      <th>
        Quantidade
      </th>
      <th>
        Tipo
      </th>
      <th>
        Usuario
      </th>
    </tr>


    <tr *ngFor="let item of movimento">
      <td>
        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align" title="Clique para Editar Recurso" (click)="onEditar(item)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
        <button class="btn btn-danger btn-sm" (click)="Excluir(item)" data-toggle="tooltip" title="Clique para Deletar Recurso">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
      </td>
      <td>
        {{item.movimentoID}}
      </td>
      <td>
        {{item.recurso.descricao}}
      </td>
      <td>
        {{item.quantidade}}
      </td>
      <td>
        {{item.tipoMovimento.descricao}}
      </td>
      <td>
        {{item.usuario.nome}}
      </td>
    </tr>
  </table>