<h3>{{titulo}}</h3>
<hr />
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <strong class="error"></strong>

    <input type="hidden" name="recursoID" id="recursoID" [ngModel]="recurso.recursoID"  #recursoID="ngModel" />
    <div class="form-group">
        <label for="form-nome" class="control-label required">Descricao: <abbr title="required">*</abbr></label>
        <input type="text" name="descricao" id="descricao" [ngModel]="recurso.descricao" ngModel required #descricao="ngModel" />
    </div>

    <div class="form-group">
        <label for="form-skype" class="control-label required">Observação: <abbr title="required">*</abbr></label>
        <input type="text" name="observacao" id="observacao" [ngModel]="recurso.observacao" ngModel required #observacao="ngModel"
        />
    </div>

    <div class="form-group" *ngIf="!recurso.recursoID">
        <label for="form-skype" class="control-label required">Quantidade: <abbr title="required">*</abbr></label>
        <input type="number" name="Quantidade" id="Quantidade" [ngModel]="quantidade" ngModel required #quantidade="ngModel"
        />
    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-default" type="submit" [disabled]="!f.valid">
            Salvar
        </button>
        <button class="btn btn-default" (click)="voltar()">
            Voltar
        </button>
    </div>
</form>
<hr style="border: 0.5px dashed #ccc" />